/* set header style (from w3schools.com) */
.topnav {
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  height: 6%;/* Because page body is 94% */
  width: 100%;
  top: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Different header height for short screens such as phones in landscape mode */
@media only screen and (max-height: 480px) {
  .topnav {
    height: 12%;
  }}
  @media only screen and (max-height: 600px) {
  .topnav {
    height: 9%;
  }}


/*style links in header */
.topnav a {
  float: left;
  display: block;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* responsive hovering colours */
.topnav a:hover {
  color: #00B1EC;
}

/* highlight selected page */
.topnav a.active {
  color: black;
}


#content-desktop {display: block;}
#content-mobile {display: none;}

@media only screen and (max-width: 800px) {
#content-desktop {display: none;}
#content-mobile {display: block;}
}


body { 
        margin: 0; 
        padding: 0; 
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      #map { 
        position: absolute; 
        bottom: 0; 
        width: 100%; 
        height: 94%; /* Body and header separated add up to 100%. Navigation control does not overlay header */
      }

/* Different map body height for short screens such as phones in landscape mode */
@media only screen and (max-height: 480px) {
  #map {
    height: 88%; /* Body and header separated add up to 100%. Navigation control does not overlay header */
  }}
  /* Different map body height for short screens such as phones in landscape mode */
@media only screen and (max-height: 600px) {
  #map {
    height: 91%; /* Body and header separated add up to 100%. Navigation control does not overlay header */
  }}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

p {
  font-size: 6; /* 40px/16=2.5em */
}

#features {
  top: 295px;
  height: 230px;
  width: 220px;
  margin: 10px;
  border-radius: 3px;
  padding: 00px 15px;
}
/* Different map body height for short screens such as phones */
@media only screen and (max-height: 600px) {
  #features{
  height: 150px;
    overflow-y: scroll;
  }}

/* Set width for icons in legend */
img {
  width: 15px;
}



/* Style for legend box */
.map-overlay {
  position: absolute;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.8); /* red, green, blue, and alpha */
}

/* Style for the mouseover pop-up */
.my-popup .mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.6); /* red, green, blue, and alpha */
  border-top: 30px black;
  padding: 5px;
  color: black;
}

/* for title and slider*/
#console {
  position: absolute;
  top: 6.5%;
  width: 160px;
  height: 232px;
  margin: 10px;
  border-radius: 3px;
  padding: 00px 15px;
  background: rgba(255, 255, 255, 0.8); /* red, green, blue, and alpha */
}




.row {
  height: 6px;
  width: 100%;
}

.mapboxgl-popup {
    max-width: 300px;
}

.my-popup .mapboxgl-popup-content {
width: 120px;
background: rgba(83, 92, 104,0.7);
border-top: 50px black;
padding: 10px;
color: white;
}

/* for severity legend item*/
.session {
  margin-bottom: 2px;
}
.row {
  height: 10px;
  width: 100%;
}
.colors {
  background: linear-gradient(to right, #de77ae, #f7f7f7, #7fbc41, #4d9221);
  margin-bottom: 5px;
}
.label {
  width: 22%;
  display: inline-block;
  text-align: right;
}