body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

p {
  font-size: 6; /* 40px/16=2.5em */
}



/* Set width for icons in legend */
img {
  width: 15px;
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Style for legend box */
.map-overlay {
  position: absolute;
  top: 200px;
  width: 160px;
  height: 305px;
  margin: 10px;
  border-radius: 3px;
  padding: 00px 15px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.8); /* red, green, blue, and alpha */
}

/* Style for the mouseover pop-up */
.my-popup .mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.6); /* red, green, blue, and alpha */
  border-top: 30px black;
  padding: 5px;
  color: black;
}

/* Style for the legend circles */
.dot1 {
  height: 5px;
  width: 5px;
  background-color: #e0ecf4;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: #9ebcda;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 50px;
  width: 50px;
  background-color: #8856a7;
  border-radius: 50%;
  display: inline-block;
}

/* for title and slider*/
#console {
  position: absolute;
  width: 160px;
  height: 180px;
  margin: 10px;
  border-radius: 3px;
  padding: 00px 15px;
  background: rgba(255, 255, 255, 0.8); /* red, green, blue, and alpha */
}

.row {
  height: 6px;
  width: 100%;
}


/* for severity legend item*/
/* 

.session {
  margin-bottom: 2px;
}
.row {
  height: 10px;
  width: 100%;
}
.colors {
  background: linear-gradient(to right, #ffff00, #f26522, #ed1c24);
  margin-bottom: 5px;
}
.label {
  width: 30%;
  display: inline-block;
  text-align: center;
}*/